Mastodon.py
arrow
beautifulsoup4
black
dotenv
feedparser
pandas
pip-tools
pyright
python-frontmatter
python-twitter
pytest
pytest-faker
pytest-xdist
python-slugify
requests
rich
ruamel.yaml
untangle
yamale
yarl
