.newsletters {
  .help-block-for-success {
    display: none;
    margin: 0.25rem 1rem 0.25rem 0;
    text-align: center;
    color: green;
  }

  .help-block-for-error {
    display: none;
    margin: 0.25rem 1rem 0.25rem 0;
    text-align: center;
    color: #de0928;
  }

  .help-block-show {
    display: block;
  }

  form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
  }
  .email-subscription-form-hide {
    display: none;
  }

  label {
    margin: 0.25rem 1rem 0.25rem 0;
    text-align: center;
  }

  input {
    margin: 0.25rem 1rem 0.25rem 0;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 0.25rem;
  }

  input:focus-visible {
    outline: none;
  }

  button {
    background-color: transparent;
    color: var(--text-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--text-color);
    font-family: inherit;
    font-size: 0.85rem;
    cursor: pointer;
    margin: 0.25rem 0;
  }
}
