@import "fonts";
@import "hyde";
@import "codeblock";
@import "lib/katex";
@import "tabs";
@import "custom";

body {
  --sidebar-bg-color:            oklch(24% 0 0);
  --sidebar-img-border-color:    oklch(43.5% 0 0);
  --sidebar-p-color:             oklch(65% 0 0);
  --sidebar-h1-color:            oklch(100% 0 0);
  --sidebar-a-color:             oklch(100% 0 0);
  --sidebar-socials-color:       oklch(100% 0 0);
  --text-color:                  oklch(25% 0 0);
  --bkg-color:                   oklch(98% 0.004 91.45);
  --post-title-color:            oklch(31% 0 0);
  --list-color:                  oklch(47% 0 0);
  --link-color:                  oklch(61.5% 0.139 244.93);
  --date-color:                  oklch(43.5% 0 0);
  --table-border-color:          oklch(95% 0 0);
  --table-stripe-color:          oklch(98% 0 0);
  --code-color:                  oklch(0% 0 0);
  --code-background-color:       oklch(95% 0 0);
  --code-block-color:            oklch(100% 0 0);
  --code-block-background-color: oklch(27% 0.011 114.8);
  --moon-sun-color:              oklch(100% 0 0);
  --moon-sun-background-color:   oklch(43.5% 0 0);

  &.dark-theme {
      --text-color:                  oklch(95% 0 0);
      --bkg-color:                   oklch(18% 0 0);
      --post-title-color:            oklch(91% 0.012 247.96);
      --list-color:                  oklch(67% 0 0);
      --link-color:                  oklch(61.5% 0.139 244.93);
      --date-color:                  oklch(69% 0 0);
      --table-border-color:          oklch(43.5% 0 0);
      --table-stripe-color:          oklch(24% 0 0);
      --code-color:                  oklch(100% 0 0);
      --code-background-color:       oklch(43.5% 0 0);
      --code-block-color:            oklch(100% 0 0);
      --code-block-background-color: oklch(27% 0.011 114.8);
  }
}
body {
    background-color: var(--bkg-color);
}
