/* Styling for the copy button displayed in code blocks */
.copy-success {
  background: none;
  border: none;

  background-image: url("/icons/copy_success.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

.copy-button {
  background: none;
  border: none;

  width: 24px;
  height: 24px;
  background-image: url("/icons/copy_content.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;

  padding: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.95);
    opacity: 0.7;
  }
}


.code-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

pre {
  line-height: 125%;
}

td.linenos pre {
  color: #000000;
  background-color: #f0f0f0;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos {
  color: #000000;
  background-color: #f0f0f0;
  padding-left: 5px;
  padding-right: 5px;
}

td.linenos pre.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

.code,
.chroma,
.highlight {

  .tok-hll,
  .hll {
    background-color: #ffffcc
  }

  .tok-c,
  .c,
  .comment {
    color: #408080;
    font-style: italic
  }

  /* Comment */
  .tok-err,
  .err {
    border: 1px solid #FF0000
  }

  /* Error */
  .tok-k,
  .k,
  .keyword {
    color: #008000;
    font-weight: bold
  }

  /* Keyword */
  .tok-o,
  .o,
  .operator {
    color: #666666
  }

  /* Operator */
  .tok-ch,
  .ch {
    color: #408080;
    font-style: italic
  }

  /* Comment.Hashbang */
  .tok-cm,
  .cm,
  .comment.multiline {
    color: #408080;
    font-style: italic
  }

  /* Comment.Multiline */
  .tok-cp,
  .cp,
  .comment.preproc {
    color: #BC7A00
  }

  /* Comment.Preproc */
  .tok-cpf,
  .cpf {
    color: #408080;
    font-style: italic
  }

  /* Comment.PreprocFile */
  .tok-c1,
  .c1,
  .comment.single {
    color: #408080;
    font-style: italic
  }

  /* Comment.Single */
  .tok-cs,
  .cs,
  .comment.special {
    color: #408080;
    font-style: italic
  }

  /* Comment.Special */
  .tok-gd,
  .gd,
  .generic.deleted {
    color: #A00000
  }

  /* Generic.Deleted */
  .tok-ge,
  .ge,
  .generic.emph {
    font-style: italic
  }

  /* Generic.Emph */
  .tok-gr,
  .gr,
  .generic.error {
    color: #FF0000
  }

  /* Generic.Error */
  .tok-gh,
  .gh,
  .generic.heading {
    color: #000080;
    font-weight: bold
  }

  /* Generic.Heading */
  .tok-gi,
  .gi,
  .generic.inserted {
    color: #00A000
  }

  /* Generic.Inserted */
  .tok-go,
  .go,
  .generic.output {
    color: #888888
  }

  /* Generic.Output */
  .tok-gp,
  .gp,
  .generic.prompt {
    color: #000080;
    font-weight: bold
  }

  /* Generic.Prompt */
  .tok-gs,
  .gs,
  .generic.strong {
    font-weight: bold
  }

  /* Generic.Strong */
  .tok-gu,
  .gu,
  .generic.subheading {
    color: #800080;
    font-weight: bold
  }

  /* Generic.Subheading */
  .tok-gt,
  .gt,
  .generic.traceback {
    color: #0044DD
  }

  /* Generic.Traceback */
  .tok-kc,
  .kc,
  .keyword.constant {
    color: #008000;
    font-weight: bold
  }

  /* Keyword.Constant */
  .tok-kd,
  .kd,
  .keyword.declaration {
    color: #008000;
    font-weight: bold
  }

  /* Keyword.Declaration */
  .tok-kn,
  .kn,
  .keyword.namespace {
    color: #008000;
    font-weight: bold
  }

  /* Keyword.Namespace */
  .tok-kp,
  .kp,
  .keyword.pseudo {
    color: #008000
  }

  /* Keyword.Pseudo */
  .tok-kr,
  .kr,
  .keyword.reserved {
    color: #008000;
    font-weight: bold
  }

  /* Keyword.Reserved */
  .tok-kt,
  .kt,
  .keyword.type {
    color: #B00040
  }

  /* Keyword.Type */
  .tok-m,
  .m,
  .literal.number {
    color: #666666
  }

  /* Literal.Number */
  .tok-s,
  .s,
  .literal.string {
    color: #BA2121
  }

  /* Literal.String */
  .tok-na,
  .na,
  .name.attribute {
    color: #7D9029
  }

  /* Name.Attribute */
  .tok-nb,
  .nb,
  .name.builtin {
    color: #008000
  }

  /* Name.Builtin */
  .tok-nc,
  .nc,
  .name.class {
    color: #0000FF;
    font-weight: bold
  }

  /* Name.Class */
  .tok-no,
  .no,
  .name.constant {
    color: #880000
  }

  /* Name.Constant */
  .tok-nd,
  .nd,
  .name.decorator {
    color: #AA22FF
  }

  /* Name.Decorator */
  .tok-ni,
  .ni,
  .name.entity {
    color: #999999;
    font-weight: bold
  }

  /* Name.Entity */
  .tok-ne,
  .ne,
  .name.exception {
    color: #D2413A;
    font-weight: bold
  }

  /* Name.Exception */
  .tok-nf,
  .nf,
  .name.function {
    color: #0000FF
  }

  /* Name.Function */
  .tok-nl,
  .nl,
  .name.label {
    color: #A0A000
  }

  /* Name.Label */
  .tok-nn,
  .nn,
  .name.namespace {
    color: #0000FF;
    font-weight: bold
  }

  /* Name.Namespace */
  .tok-nt,
  .nt,
  .name.tag {
    color: #008000;
    font-weight: bold
  }

  /* Name.Tag */
  .tok-nv,
  .nv,
  .name.variable {
    color: #8f8eef
  }

  /* Name.Variable */
  .tok-ow,
  .ow,
  .operator.word {
    color: #AA22FF;
    font-weight: bold
  }

  /* Operator.Word */
  .w.text.whitespace {
    color: #bbbbbb
  }

  /* Text.Whitespace */
  .tok-mb,
  .mb,
  .literal.number.bin {
    color: #666666
  }

  /* Literal.Number.Bin */
  .tok-mf,
  .mf,
  .literal.number.float {
    color: #666666
  }

  /* Literal.Number.Float */
  .tok-mh,
  .mh,
  .literal.number.hex {
    color: #666666
  }

  /* Literal.Number.Hex */
  .tok-mi,
  .mi,
  .literal.number.integer {
    color: #666666
  }

  /* Literal.Number.Integer */
  .tok-mo,
  .mo,
  .literal.number.oct {
    color: #666666
  }

  /* Literal.Number.Oct */
  .tok-sa,
  .sa,
  .literal.string.affix {
    color: #BA2121
  }

  /* Literal.String.Affix */
  .tok-sb,
  .sb,
  .literal.string.backtick {
    color: #BA2121
  }

  /* Literal.String.Backtick */
  .tok-sc,
  .sc,
  .literal.string.char {
    color: #BA2121
  }

  /* Literal.String.Char */
  .tok-dl,
  .dl,
  .literal.string.delimiter {
    color: #BA2121
  }

  /* Literal.String.Delimiter */
  .tok-sd,
  .sd,
  .literal.string.doc {
    color: #BA2121;
    font-style: italic
  }

  /* Literal.String.Doc */
  .tok-s2,
  .s2,
  .literal.string.double {
    color: #BA2121
  }

  /* Literal.String.Double */
  .tok-se,
  .se,
  .literal.string.escape {
    color: #BB6622;
    font-weight: bold
  }

  /* Literal.String.Escape */
  .tok-sh,
  .sh,
  .literal.string.heredoc {
    color: #BA2121
  }

  /* Literal.String.Heredoc */
  .tok-si,
  .si,
  .literal.string.interpol {
    color: #BB6688;
    font-weight: bold
  }

  /* Literal.String.Interpol */
  .tok-sx,
  .sx,
  .literal.string.other {
    color: #008000
  }

  /* Literal.String.Other */
  .tok-sr,
  .sr,
  .literal.string.regex {
    color: #BB6688
  }

  /* Literal.String.Regex */
  .tok-s1,
  .s1,
  .literal.string.single {
    color: #BA2121
  }

  /* Literal.String.Single */
  .tok-ss,
  .ss,
  .literal.string.symbol {
    color: #19177C
  }

  /* Literal.String.Symbol */
  .tok-bp,
  .bp,
  .name.builtin.pseudo {
    color: #008000
  }

  /* Name.Builtin.Pseudo */
  .tok-fm,
  .fm,
  .name.function.magic {
    color: #0000FF
  }

  /* Name.Function.Magic */
  .tok-vc,
  .vc,
  .name.variable.class {
    color: #19177C
  }

  /* Name.Variable.Class */
  .tok-vg,
  .vg,
  .name.variable.global {
    color: #19177C
  }

  /* Name.Variable.Global */
  .tok-vi,
  .vi,
  .name.variable.instance {
    color: #19177C
  }

  /* Name.Variable.Instance */
  .tok-vm,
  .vm,
  .name.variable.magic {
    color: #19177C
  }

  /* Name.Variable.Magic */
  .tok-il,
  .il,
  .literal.number.integer.long {
    color: #666666
  }

  /* Literal.Number.Integer.Long */
}

.dark-theme {

  /* Background */
  .bg {
    color: #f8f8f2;
    background-color: #433e56;
  }

  /* PreWrapper */
  .chroma {
    color: #f8f8f2;
    background-color: #433e56;
  }

  /* Other */
  .chroma .x {}

  /* Error */
  .chroma .err {
    color: #960050;
    background-color: #1e0010
  }

  /* CodeLine */
  .chroma .cl {}

  /* LineLink */
  .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit
  }

  /* LineTableTD */
  .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }

  /* LineTable */
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  /* LineHighlight */
  .chroma .hl {
    background-color: #555166
  }

  /* LineNumbersTable */
  .chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
  }

  /* LineNumbers */
  .chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
  }

  /* Line */
  .chroma .line {
    display: flex;
  }

  /* Keyword */
  .chroma .k {
    color: #c2ffdf
  }

  /* KeywordConstant */
  .chroma .kc {
    color: #c2ffdf
  }

  /* KeywordDeclaration */
  .chroma .kd {
    color: #c2ffdf
  }

  /* KeywordNamespace */
  .chroma .kn {
    color: #ffb8d1
  }

  /* KeywordPseudo */
  .chroma .kp {
    color: #c2ffdf
  }

  /* KeywordReserved */
  .chroma .kr {
    color: #c2ffdf
  }

  /* KeywordType */
  .chroma .kt {
    color: #c2ffdf
  }

  /* Name */
  .chroma .n {}

  /* NameAttribute */
  .chroma .na {
    color: #ceb1ff
  }

  /* NameBuiltin */
  .chroma .nb {}

  /* NameBuiltinPseudo */
  .chroma .bp {
    color: #80cbc4
  }

  /* NameClass */
  .chroma .nc {
    color: #ceb1ff
  }

  /* NameConstant */
  .chroma .no {
    color: #c5a3ff
  }

  /* NameDecorator */
  .chroma .nd {
    color: #ceb1ff
  }

  /* NameEntity */
  .chroma .ni {}

  /* NameException */
  .chroma .ne {
    color: #ceb1ff
  }

  /* NameFunction */
  .chroma .nf {
    color: #ceb1ff
  }

  /* NameFunctionMagic */
  .chroma .fm {}

  /* NameLabel */
  .chroma .nl {}

  /* NameNamespace */
  .chroma .nn {}

  /* NameOther */
  .chroma .nx {}

  /* NameProperty */
  .chroma .py {}

  /* NameTag */
  .chroma .nt {
    color: #ffb8d1
  }

  /* NameVariable */
  .chroma .nv {}

  /* NameVariableClass */
  .chroma .vc {}

  /* NameVariableGlobal */
  .chroma .vg {}

  /* NameVariableInstance */
  .chroma .vi {}

  /* NameVariableMagic */
  .chroma .vm {}

  /* Literal */
  .chroma .l {
    color: #ae81ff
  }

  /* LiteralDate */
  .chroma .ld {
    color: #e6db74
  }

  /* LiteralString */
  .chroma .s {
    color: #1bc5e0
  }

  /* LiteralStringAffix */
  .chroma .sa {
    color: #1bc5e0
  }

  /* LiteralStringBacktick */
  .chroma .sb {
    color: #1bc5e0
  }

  /* LiteralStringChar */
  .chroma .sc {
    color: #1bc5e0
  }

  /* LiteralStringDelimiter */
  .chroma .dl {
    color: #1bc5e0
  }

  /* LiteralStringDoc */
  .chroma .sd {
    color: #1bc5e0
  }

  /* LiteralStringDouble */
  .chroma .s2 {
    color: #1bc5e0
  }

  /* LiteralStringEscape */
  .chroma .se {
    color: #1bc5e0
  }

  /* LiteralStringHeredoc */
  .chroma .sh {
    color: #1bc5e0
  }

  /* LiteralStringInterpol */
  .chroma .si {
    color: #1bc5e0
  }

  /* LiteralStringOther */
  .chroma .sx {
    color: #1bc5e0
  }

  /* LiteralStringRegex */
  .chroma .sr {
    color: #1bc5e0
  }

  /* LiteralStringSingle */
  .chroma .s1 {
    color: #1bc5e0
  }

  /* LiteralStringSymbol */
  .chroma .ss {
    color: #1bc5e0
  }

  /* LiteralNumber */
  .chroma .m {
    color: #c5a3ff
  }

  /* LiteralNumberBin */
  .chroma .mb {
    color: #c5a3ff
  }

  /* LiteralNumberFloat */
  .chroma .mf {
    color: #c5a3ff
  }

  /* LiteralNumberHex */
  .chroma .mh {
    color: #c5a3ff
  }

  /* LiteralNumberInteger */
  .chroma .mi {
    color: #c5a3ff
  }

  /* LiteralNumberIntegerLong */
  .chroma .il {
    color: #c5a3ff
  }

  /* LiteralNumberOct */
  .chroma .mo {
    color: #c5a3ff
  }

  /* Operator */
  .chroma .o {
    color: #ffb8d1
  }

  /* OperatorWord */
  .chroma .ow {
    color: #ffb8d1
  }

  /* Punctuation */
  .chroma .p {}

  /* Comment */
  .chroma .c {
    color: #b0bec5
  }

  /* CommentHashbang */
  .chroma .ch {
    color: #b0bec5
  }

  /* CommentMultiline */
  .chroma .cm {
    color: #b0bec5
  }

  /* CommentSingle */
  .chroma .c1 {
    color: #b0bec5
  }

  /* CommentSpecial */
  .chroma .cs {
    color: #b0bec5
  }

  /* CommentPreproc */
  .chroma .cp {
    color: #b0bec5
  }

  /* CommentPreprocFile */
  .chroma .cpf {
    color: #b0bec5
  }

  /* Generic */
  .chroma .g {}

  /* GenericDeleted */
  .chroma .gd {
    color: #f92672
  }

  /* GenericEmph */
  .chroma .ge {
    font-style: italic
  }

  /* GenericError */
  .chroma .gr {}

  /* GenericHeading */
  .chroma .gh {}

  /* GenericInserted */
  .chroma .gi {
    color: #a6e22e
  }

  /* GenericOutput */
  .chroma .go {}

  /* GenericPrompt */
  .chroma .gp {}

  /* GenericStrong */
  .chroma .gs {
    font-weight: bold
  }

  /* GenericSubheading */
  .chroma .gu {
    color: #75715e
  }

  /* GenericTraceback */
  .chroma .gt {}

  /* GenericUnderline */
  .chroma .gl {}

  /* TextWhitespace */
  .chroma .w {
    color: #a8757b
  }
}