@import "mvp";
// @import "syntax-highlighting";


a {
    &[href^="/card"]:before {
        content: "🗃️ ";
    }

    &[href^="/post"]:before {
        content: "📅 "
    }

    &[href^="/config"]:before {
        content: "🔨 "
    }

    &#skip-link {
        padding: .375rem;
        position: absolute;
        top: -3.2rem;
        left: 0;
        color: var(--color-bg-secondary);
        border-right: .0625rem solid var(--color-secondary-accent);
        border-bottom: .0625rem solid var(--color-secondary-accent);
        border-bottom-right-radius: .5rem;
        background: var(--color-link);
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 100;

        &:focus {
            position: absolute;
            left: 0;
            top: 0;
            outline-color: transparent;
            -webkit-transition: top .25s ease-in;
            transition: top .25s ease-in;
        }

        @media (prefers-reduced-motion: reduce) {
            transition-duration: 0.001ms !important;
        }
    }
}

.breadcrumb {
    font-size: small;
    border-top: thin solid var(--color-bg-secondary);
    padding-block-start: .5rem;
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;

    a:last-child {
        text-align: right;
    }
}

.recent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.entry-list-item {
    display: flex;

    &::after {
        background-image: radial-gradient(circle, currentcolor 1px, transparent 1.5px);
        background-position: bottom;
        background-size: 1ex 3.5px;
        background-repeat: space no-repeat;
        content: "";
        flex-grow: 1;
        height: 1.1em;
        order: 2;
    }

    .entry {
        order: 1;
    }

    .date {
        order: 3;
    }
}