@import "mvp";
// @import "syntax-highlighting";


a {
    &[href^="/card"]:before {
        content: "🗃️ ";
    }

    &[href^="/post"]:before {
        content: "📅 "
    }

    &[href^="/config"]:before {
        content: "🔨 "
    }
}

.breadcrumb {
    font-size: small;
    border-top: thin solid var(--color-bg-secondary);
    padding-block-start: .5rem;
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;

    a:last-child {
        text-align: right;
    }
}

.recent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.entry-list-item {
    display: flex;

    &::after {
        background-image: radial-gradient(circle, currentcolor 1px, transparent 1.5px);
        background-position: bottom;
        background-size: 1ex 3.5px;
        background-repeat: space no-repeat;
        content: "";
        flex-grow: 1;
        height: 1.1em;
        order: 2;
    }

    .entry {
        order: 1;
    }

    .date {
        order: 3;
    }
}